<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css" />
  <title>{{ site.title }}</title>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="application-name" content="{{ site.title }}" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#fff" />
  <meta name="apple-mobile-web-app-title" content="{{ site.title }}" />
</head>
<body>
  <div class="hero" style="min-height: 0;">
    <section class="header">
      <h2 id="logo">{{ site.title }}</h2>
      <ul class="nav">
        <li><a href="https://foundation.gnome.org">Foundation</a></li>
        <li><a href="https://shop.gnome.org/">Shop</a></li>
        <li><a href="https://events.gnome.org/">Events</a></li>
      </ul>
    </section>
  </div>

  <div class="container">

    {% for post in posts %}
      <article class="post">
        <div class="author-box">
          <picture><img src="{{ post.photo }}"/></picture>
          <p><a href="{{ post.blogurl }}">{{ post.author }}</a></p>
          <p>@{{ post.username }}</p>
        </div>
        <div class="post-content">
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

          <div class="post-content">
            {{ post.text }}
          </div>
        </div>
      </article>
    {% endfor %}

  </div>

  <footer>
    <nav>
      <ul class="bottomlinks">
        <li><a href="https://foundation.gnome.org/contact-us/">Contact Us</a></li>
        <li><a href="https://foundation.gnome.org/team/">About Us</a></li>
        <li><a href="donate.html">Donate</a></li>
        <li><a href="https://shop.gnome.org/">GNOME Shop</a></li>
        <li><a href="https://www.gnome.org/foundation/">GNOME Foundation</a></li>
        <li><a href="https://wiki.gnome.org/Foundation/CodeOfConduct">Code of Conduct</a></li>
        <li><a href="https://www.gnome.org/privacy-policy/">Privacy</a></li>
        <li><a href="https://gitlab.gnome.org/">Bug Tracker</a></li>
        <li><a href="https://discourse.gnome.org/">Forum</a></li>
        <li><a href="https://wiki.gnome.org/GettingInTouch/Matrix">Chat</a></li>
        <li><a href="https://developer.gnome.org/">Developer Center</a></li>
        <li><a href="http://release.gnome.org/">Latest Releases</a></li>
        <li><a href="http://brand.gnome.org">Brand Guidelines</a></li>
        <li><a href="https://thisweek.gnome.org/">This Week in GNOME</a></li>
        <li><a href="https://events.gnome.org/">Events</a></li>
        <li><a href="https://foundation.gnome.org/news/">Foundation News</a></li>
        <li><a href="https://planet.gnome.org/">Planet GNOME</a></li>
        <li><a href="https://apps.gnome.org/">Apps</a></li>
        <li><a href="https://circle.gnome.org/">GNOME Circle</a></li>
        <li><a href="https://flathub.org/">Flathub</a></li>
        <li><span class="socials">
          <a href="https://floss.social/@gnome" class="social" rel="me"><svg viewBox="0 0 16 16" id="mastodon" xmlns="http://www.w3.org/2000/svg"><path d="M7.478 0C5.56.016 3.716.223 2.64.717c0 0-2.132.954-2.132 4.208 0 .745-.015 1.636.009 2.58.077 3.183.583 6.319 3.525 7.098 1.357.359 2.522.434 3.46.382 1.7-.094 2.656-.607 2.656-.607l-.057-1.234s-1.215.383-2.58.337c-1.353-.047-2.781-.146-3-1.807a3.406 3.406 0 0 1-.03-.466s1.328.325 3.01.402c1.03.047 1.994-.06 2.974-.177 1.88-.225 3.516-1.383 3.722-2.44.324-1.668.297-4.068.297-4.068 0-3.254-2.132-4.208-2.132-4.208C11.288.223 9.443.016 7.525 0Zm-2.17 2.542c.798 0 1.403.308 1.803.922l.389.651.389-.651c.4-.614 1.005-.922 1.803-.922.69 0 1.247.243 1.672.717.412.473.617 1.113.617 1.918v3.94H10.42V5.293c0-.806-.34-1.215-1.018-1.215-.75 0-1.126.485-1.126 1.445v2.093H6.724V5.523c0-.96-.376-1.445-1.126-1.445-.678 0-1.018.409-1.018 1.215v3.824H3.02v-3.94c0-.805.204-1.445.616-1.918.425-.474.981-.717 1.672-.717Z" /></svg></a>
          <a href="https://matrix.to/#/#community:gnome.org" class="social"><svg version="1.1" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="m16 0c-8.8365 0-16 7.1635-16 16 0 8.8365 7.1635 16 16 16 8.8365 0 16-7.1635 16-16 0-8.8365-7.1635-16-16-16zm-2.166 4c5.4185 0 9.8105 4.3837 9.8105 9.791 0 0.79779-0.64782 1.4453-1.4473 1.4453-0.79948 0-1.4473-0.64753-1.4473-1.4453 0-3.8117-3.0964-6.9023-6.916-6.9023-0.79948 0-1.4473-0.64557-1.4473-1.4434 0-0.79782 0.64778-1.4453 1.4473-1.4453zm-0.023437 4.418c0.79945 0 1.4492 0.64752 1.4492 1.4453 0 0.79782-0.64977 1.4453-1.4492 1.4453-3.8196 0-6.916 3.0887-6.916 6.9004 0 0.79782-0.64778 1.4453-1.4473 1.4453-0.79944 0-1.4473-0.64749-1.4473-1.4453-3.51e-5 -5.4073 4.392-9.791 9.8105-9.791zm12.742 3.9277c0.79944 0 1.4473 0.64749 1.4473 1.4453 0 5.4073-4.392 9.791-9.8105 9.791-0.79945 0-1.4492-0.64752-1.4492-1.4453 0-0.79782 0.64977-1.4453 1.4492-1.4453 3.8196 0 6.916-3.0887 6.916-6.9004 0-0.79782 0.64778-1.4453 1.4473-1.4453zm-16.727 4.418c0.79944 0 1.4473 0.64749 1.4473 1.4453 0 3.8117 3.0964 6.9023 6.916 6.9023 0.79945 0 1.4473 0.64557 1.4473 1.4434 0 0.79782-0.64782 1.4453-1.4473 1.4453-5.4185 0-9.8105-4.3838-9.8105-9.791 0-0.79782 0.64782-1.4453 1.4473-1.4453z" /></svg></a>
          <a href="https://www.facebook.com/GNOME/" class="social"><svg version="1.1" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><path d="m18 0c-9.941 0-18 8.059-18 18 0 8.442 5.8102 15.526 13.651 17.471v-11.971h-3.716v-5.5002h3.716v-2.3695c0-6.127 2.7718-8.9648 8.7838-8.9648 1.138 0 3.1024 0.22348 3.9094 0.44648v4.9834c-0.425-0.043-1.1655-0.065039-2.0795-0.065039-2.952 0-4.0904 1.1164-4.0904 4.0254v1.9441h5.8834l-1.009 5.5002h-4.8674v12.37c8.913-1.079 15.819-8.6679 15.819-17.87 0-9.941-8.059-18-18-18z"/></svg></a>
          <a href="https://www.youtube.com/user/GNOMEDesktop" class="social"><svg xml:space="preserve" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M8 2.05c-1.872 0-3.744.052-5.549.156C.48 2.319.197 3.893.086 5.416a30.086 30.086 0 0 0 0 4.552c.111 1.524.393 3.098 2.365 3.211 3.61.208 7.489.208 11.098 0 1.972-.113 2.254-1.687 2.365-3.21a30.081 30.081 0 0 0 0-4.552c-.111-1.524-.393-3.098-2.365-3.211A96.995 96.995 0 0 0 8 2.05ZM6.082 4.982l4.855 2.544-4.855 2.545V4.98Z"/></svg></a>
        </span></li>
      </ul>
    </nav>
    <a href="https://gnome.org">&copy; 2024 The GNOME Project</a>
  </footer>
</body>
</html>
